{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% load project_extras %}
{% load icons %}

{% block title %}Project{% endblock %}


{% block content %}

<div class="container">
  <h3 class="my-3">{{ project.title }}</h3>
  <div class="row">
    <div class="col-sm-8">
      <h4>Description</h4>
      <p class="project-description">{{ project.description }}</p>
      {% if user.is_authenticated %}
      {% if user == project.user.user %}
      {% if project.status == project.OPEN %}
      <h4 class="my-3">Tasks</h4>
      <div id="task_container" class="card">
        {% for task in tasks %}
        <div class="task card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">{{task.description}}</p>
        </div>
        <div class="card-footer">Budget: {{task.budget}}</div>
        {% endfor %}
      </div>
      {% for task in tasks %}
      {% define task|get_all_taskoffers as task_offers %}
      {% if task|get_accepted_task_offer %}
      {% define task|get_accepted_task_offer as task_accepted_offer %}
      <h4 class="my-3">Accepted offer for <i>{{task.title}}</i></h4>
      <li class="list-group-item d-flex justify-content-between align-items-center"> Offer from {{task_accepted_offer.offerer.user.username}}
        <p>Status: {{task_accepted_offer.get_status_display}}</p>
        <div>
          <button class="btn btn-primary" data-toggle="modal" data-target="#seeOfferModal{{task_offer.id}}">View Offer</button>
          <div>
      </li>
      
      <div class="modal fade" id="seeOfferModal{{task_offer.id}}" tabindex="-1" role="dialog" aria-labelledby="seeOfferModal{{task_offer.id}}Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="seeOfferModalTitle{{task_offer.id}}">Offer for {{task.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              <div class="modal-body">
                <h3>Offer</h3>
                <h4 class="mt-3">{{task_accepted_offer.title}}</h4>
                  <p>Status: {{task_accepted_offer.get_status_display}}</p>
                  <p>Description: <br> {{task_accepted_offer.description}}</p>
                  <p>Price offered: {{task_accepted_offer.price}} </p>
                  <p class="mt-2">Feedback given: <br> {{task_accepted_offer.feedback}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
        </div>
      </div>
      {% else %}
      <h4 class="my-3">Pending offers for <i>{{task.title}}</i></h4>
      <p>Accepting one offer will remove all other pending offers.</p>
      
      {% for task_offer in task_offers %}
      {% if not task_offer.status == 'd' %}
      <div class="card mb-3 mt-3">
        <div class="card-body">
          <div class="card-text pull-left">Offer from: <a href="{% url 'view_user_profile' task_offer.offerer.user.username%}">{{task_offer.offerer.user.username}}</a></div>
          <button class="btn btn-primary pull-right clearfix" data-toggle="modal" data-target="#seeOfferModal{{task_offer.id}}">View Offer</button>
        </div>
        <div class="card-footer">Status: {{task_offer.get_status_display}}</div>
      </div>
      <div class="modal fade" id="seeOfferModal{{task_offer.id}}" tabindex="-1" role="dialog" aria-labelledby="seeOfferModal{{task_offer.id}}Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="seeOfferModalTitle{{task_offer.id}}">Offer for {{task.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              <div class="modal-body">
                <h3>Offer</h3>
                <h4 class="mt-3">{{task_offer.title}}</h4>
                <p>Status: {{task_offer.get_status_display}}</p>
                <p>Description: <br> {{task_offer.description}}</p>
                <p>Price offered: {{task_offer.price}} </p>
                
                <h3 class="mt-3">Response: </h3>
                {% csrf_token %}
                {% bootstrap_form offer_response_form %}
                <input type="hidden" name="taskofferid" value="{{task_offer.id}}">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" name="offer_response" class="btn btn-primary">Send Response</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endfor %}
        
      {% else %}
      
      <p>Project participants: <a href="{% url 'view_user_profile' project|get_project_participants_string %}"> {{project|get_project_participants_string}} </a></p>
      
      <h3 class="mb-3 mt-5">List of Tasks</h3>
      <div class="list-group">
        {% for task in tasks %}
        {% define task|get_accepted_task_offer as task_accepted_offer %}
        <a href="{% url 'task_view' project_id=project.id task_id=task.id %}" class="list-group-item list-group-item-action flex-column align-items-start my-1">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="mb-1">{% icon 'tasks' %} {{task.title}}</h5>
          </div>
          <div class="d-flex">
            <div>
              <p class="mb-1">Task status: {{task.get_status_display}}</p>
            </div>
            <div class= "ml-5">
              <p class="mb-1">Solver: {{task_accepted_offer.offerer.user.username}} </p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
  
  
      {% endif %} 
      {% else %}
  
  
  
      {% if project.status == project.OPEN %}
  
      <h4 class="my-3">Tasks</h4>
      <div id="task_container" class="card">
          {% for task in tasks %}
          <div class="task card-body">
            <h5 class="card-title">{{task.title}}</h5>
            <p class="card-text">{{task.description}}</p>
          </div>
          <div class="card-footer">Budget: {{task.budget}}</div>
          {% endfor %}
        </div>

      <h4 class="my-3">Make an offer</h4>
      <ul class="list-group">
        {% for task in tasks %}
        {% define task|check_taskoffers:user as task_user_offers %}
        {% if task_user_offers %}

        {% with offer=task_user_offers|last %}

        <li class="list-group-item d-flex justify-content-between align-items-center">{{task.title}}
          <div>
            <label>Status:</label>
            <button class="btn {% if offer.status == offer.PENDING %} btn-warning {% elif offer.status == 'a' %} btn-success {% else %} btn-danger {% endif %}" data-toggle="modal" data-target="#makeOfferModal{{task.id}}">{{offer.get_status_display}}</button>
          <div>
        </li>

        <div class="modal fade" id="makeOfferModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="makeOfferModal{{task.id}}Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="makeOfferModalTitle{{task.id}}">Make an offer for {{task.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post">
                <div class="modal-body">
                  <h3>Last Offer </h3>
                    <h4 class="mt-3">{{offer.title}}</h4>
                    <p>Status: {{offer.get_status_display}}</p>
                    <p>Description: <br> {{offer.description}}</p>
                    <p>Price offered: {{offer.price}} </p>
                    {%if offer.status == 'a' or offer.status == 'd' %}
                    <p class="mt-2">Feedback from project owner: <br> {{offer.feedback}}</p>
                    {% endif %}

                    {% if offer.status == 'd' %}
                    <h3 class="mt-3">Make New Offer</h3>
                    {% csrf_token %}
                    {% bootstrap_form task_offer_form %}
                    <input type="hidden" name="taskvalue" value="{{task.id}}">
                    {% endif %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  {%if offer.status == 'd' %}
                  <button type="submit" name="offer_submit" class="btn btn-primary">Send New Offer</button>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>
        </div>

        {% endwith %}

        {% else %}

        <li class="list-group-item d-flex justify-content-between align-items-center">{{task.title}}
          <button class="btn btn-primary" data-toggle="modal" data-target="#makeOfferModal{{task.id}}">Make Offer</button>
        </li>

        <div class="modal fade" id="makeOfferModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="makeOfferModal{{task.id}}Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="makeOfferModalTitle{{task.id}}">Make an offer for {{task.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post">
                <div class="modal-body">
                  {% csrf_token %}
                  {% bootstrap_form task_offer_form %}
                  <input type="hidden" name="taskvalue" value="{{task.id}}">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" name="offer_submit" class="btn btn-primary">Send Offer</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% endif %}
        {% endfor %}

      </ul>

      {% else %}

      <h4 class="mb-3 mt-5">Tasks you have access to</h4>
      <div class="list-group">
        {% for task in tasks %}
        <a href="{% url 'task_view' project_id=project.id task_id=task.id %}" class="list-group-item list-group-item-action flex-column align-items-start my-1">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="mb-1">{% icon 'tasks' %} {{task.title}}</h5>
          </div>
            <div class="d-flex">
              <div>
                <p class="mb-1">Task status: {{task.get_status_display}}</p>
              </div>
            </div>
        </a>
        {% endfor %}
      </div>

      {% endif %}

      {% endif %}
  
      {%endif%}
  
      {% if review_available%}
      <section id="review" class="mt-3 pb-3">
        <h4>Review</h4>
        {% if  is_customer %}
        {% for participant in parctipants_reviewable %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">You can write a review of <a href="{% url 'view_user_profile' participant.user.username %}">{{ participant.user.username }}</a></h5>
            <a class="btn btn-primary mr-auto" role="button" href="{% url 'createReview' username=participant.user.username project_id=project.id%}">Write review</a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if is_participant %} <!-- TODO Legg til is_participant -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">You can write a review of your customer</h5>
            <a class="btn btn-primary mr-auto" role="button" href="{% url 'createReview' username=project.user.user.username project_id=project.id%}">Write review</a>
          </div>
        </div>
        {% endif %}
      </section>
      {% endif %} 
    
    </div>
    <div class="col-sm-4">
      <div class="card mb-3">
        <div class="card-header">Project details</div>
        <div class="card-body">
          <p class="card-text"><strong>Posted by:</strong> <a href="{% url 'view_user_profile' project.user.user.username%}">{{project.user.user.username}}</a></p>
          <p class="card-text"><strong>Project status:</strong> {{project.get_status_display}}</p>
          <p class="card-text"><strong>Project total budget:</strong> {{total_budget}}</p>
          <p class="card-text"><strong>Category:</strong> {{project.category}}</p>
        </div>
      </div>
      {% if user == project.user.user and available_p_slots > 0%}
      <div class="card mb-3">
        <div class="card-header">Promotion</div>
        <div class="card-body">
          {% if is_project_promoted %}
          <p class="card-text">Hurray! Your project is promoted until {{ promoted_project.end }}</p>
          {% elif available_p_slots > 0 %}
          <p class="card-text">
            There are available promotion slots.
            Do you want to boost your project's visibility?
          </p>
          <p class="card-text"><b>Fee:</b> {{ promotion_settings.promotion_fee }}</p>
          <p class="card-text"><b>Duration:</b> {{ promotion_settings.duration_in_days }} days</p>
          <a class="btn btn-primary" role="button" href="{% url 'promotion_payment' project.id%}">Pay</a>
          {% endif %}
        </div>
      </div>
      {% if user == project.user.user and user.is_authenticated %}
      <div class="card mb-3">
        <div class="card-header">Change project status</div>
         <div class="card-body">
           <form method="post">
             {% csrf_token %}
             {% bootstrap_form status_form %}
             <button class="btn btn-primary" name="status_change" type="submit">Change status</button>
           </form>
         </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
  
{% endblock %}
